<h1>
  {{ title }}
</h1>
<br>
<app-task-list></app-task-list>
<br />
{{ user | json }}
<br />
{{upperText | uppercase}}
<br>
{{lowerText | lowercase}}
<br>
{{percentValue | percent}}
<br>
{{date | date: 'dd/MM/yyyy' }}
<br>
{{money | currency }}

<br>
<div *ngIf="isAdmin">
  Administrator 2
</div>
<br>
<div [ngSwitch]="profile">
  <p *ngSwitchCase="1">you can read & write</p>
  <p *ngSwitchCase="2">you can read</p>
  <p *ngSwitchDefault>Go back</p>
</div>