<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus>
    </form>
</div>
<ap-photos [photos]="photos"></ap-photos>