<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row">
    <div class="col-4" *ngFor="let photo of cols">
      <ap-photo [url]="photo.url" [description]="photo.description">
      </ap-photo>
    </div>

  </li>
</ol>