header#main-header{
    height: 60px;
    background: #da552f;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}